*.vscode
.vs/
*.vsidx
*.idea 
*.ipynb_checkpoints/
profile_default/
ipython_config.py
venv/
__pycache__
*.pyc 
*.pyo   

#database
chroma_db/

#OS
.DS_Store
Thumbs.db

#for working with files
*.pdf
*.doc
*.docx
*.ppt 
*.pptx 
*.rtf
*.odt


# Flutter specific files and folders
/build/
*.dart_tool/
*.idea/
*.flutter-plugins
*.flutter-plugins-dependencies
*.packages

#IDEs related files
*.iml
*.iws
*.ipr


*.user
*.sln
*.vcxproj
*.vcxproj.filters
*.idb
*.ilk
*.recipe
*.tlog
*.pch
*.exe
*.dll
*.obj
*.o
*.out
*.ipch
*.so
*.lo
*,la
*.class
*.app
*.apk
*.aab
*.xapk
*.DS_Store
Thumbs.db
*.pdb
*.log
*.tmp
temp/

#Android
/android/local.properties
/android/.gradle
/android/key.jks
/android/key.properties
/android/appl/src/main/assets/
flutter_assets/

# IOS/macOS
/ios/.symlinks/
/ios/Flutter/Generated.xconfig
/macos/.symlinks/
/macos/Flutter/Generated.xconfig

CMakeCache.txt
CMakeFiles/
